# Rust
/target/
**/*.rs.bk
*.pdb

# Cargo
Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
/tmp/
/logs/
*.log

# CLAUDE
CLAUDE.md

#App folders
downloaded_checkpoint_dir/
checkpoint_blobs/
archival_db/
