# Rust
/target/
**/*.rs.bk
*.pdb

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
/tmp/
/logs/
*.log

# Contract build dir
contracts/build/

# CLAUDE
CLAUDE.md

# Node.js
node_modules/
.next/
out/

#App folders
downloaded_checkpoint_dir/
checkpoint_blobs/
archival_db/
config/wallet/
archival_snapshots/
walrus-sites/
